<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>DashBoard!</title>
  </head>
  <body>
    <nav class="navBar">
      <h1>Bienvenido <%= user.nombre+" "+user.apellido %></h1>
      <ul class="options">
        <% if (user.role == "ADMIN") { %>
  
          <li><a href="/admin/viewUsers">Ver Usuarios</a></li>
          <% } %>
        <li><a href="/chatView">Chat</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/auth/dashBoard">Dashboard</a></li>
        <li><a href="/auth/logout">LogOut</a></li>
      </ul>
    </nav>
    <div class="dashboardBody">
      <div class="infoUser">
        <h2>Tus Credenciales</h2>
        <ul>
          <li>Nombre: <%= user.nombre%></li>
          <li>Apellido: <%= user.apellido%></li>
          <li>Email: <%= user.email%></li>
          <li>Role: <%= user.role%></li>
        </ul>

        <% if (user.role != "PREMIUM") { %>
        <a href="/premium" id="becomePremium">Volverse Premium</a>

        <% } %>

        <a href="/">Volver a Ecommerce</a>
      </div>
    </div>
  </body>
</html>
