<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Product</title>
  </head>
  <body>
    <nav class="navBar">
      <h1>Products</h1>
      <ul class="options">
        <li><a href="/chatView">Chat</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/auth/dashboard">DashBoard</a></li>
        <li><a href="/auth/logout">LogOut</a></li>
        <li>
          <a href="/cart/64b74c217acb6a39b4ad944f">Ver Carrito de Admin</a>
        </li>
      </ul>
    </nav>

    <div class="mainUpdateProduct">
      <div class="updateProduct">
        <img src="<%=product.imagen%>" alt="" />

        <div class="inputName">
          <span>Nombre: </span>
          <input type="text" value="<%=product.nombre%>" />
        </div>

        <div class="inputDescription">
          <span>Descripcion: </span
          ><textarea name="" id="" cols="30" rows="10">
            <%=product.descripcion%></textarea
          >
        </div>

        <div class="inputPrice">
          <span>Precio:</span>
          <input type="text" value="<%=product.precio%>" />
        </div>

        <div class="inputStock">
          <span>Stock: </span>
          <input type="text" value="<%=product.stock%>" />
        </div>
        <div class="inputStatus">
          <span>Status: </span>
          <input type="checkbox" name="" id="" <%=product.status?
          "checked":""%>>
        </div>

        <button class="updateButton">Actualizar Producto</button>
      </div>
    </div>
  </body>
</html>
